@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord8-darker #275563;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;
@define-color nord15-darker #4d3349;
/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  background: @nord0;
  color: @nord4;
  padding: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 1;
}

.modules-left {
  padding-left: 5px;
}

.modules-right {
  padding-right: 5px;
}

#custom-rofi {
  color: @nord0;
  border: 1px solid #458588;
  background-color: #83a598;
  border-radius: 2px;
  padding: 0 6px;
  margin: 5px 0px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
}

#workspaces button {
  color: @nord4;
  background-color: @nord1;
  border: 1px solid @nord4;
  min-width: 22px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
}

#workspaces button:hover {
  color: @nord1;
  background: @nord8;
  border: 1px solid @nord8-darker;
  min-width: 22px;
}

#workspaces button.visible {
  color: @nord1;
  border: 1px solid @nord8-darker;
  background-color: @nord8;
  min-width: 22px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
}

#workspaces button.visible:hover {
  color: @nord1;
  border: 1px solid @nord8-darker;
  background-color: @nord8;
  min-width: 22px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
}

#workspaces button.active {
  color: @nord1;
  border: 1px solid @nord8-darker;
  background-color: @nord8;
  min-width: 22px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
}

#workspaces button.active:hover {
  color: @nord1;
  border: 1px solid @nord8-darker;
  background-color: @nord8;
  min-width: 22px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
}

#workspaces button.urgent {
  color: @nord1;
  border: 1px solid @nord15-darker;
  background-color: @nord15;
  min-width: 22px;
  padding: 0 4px;
  margin: 5px 3px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
  color: #d3869b;
  background: none;
  margin: 5px 0px;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid #d3869b;
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
  margin: 6px 0px;
  padding: 0 6px;
  background: @nord0;
  border-radius: 3px;
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #ea6962;
  margin: 5px 0px;
  border-bottom: 1px solid #ea6962;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: @nord11;
  margin: 5px 0px;
  border-bottom: 1px solid @nord11;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #d8a657;
  margin: 5px 0px;
  border-bottom: 1px solid #d8a657;
}

#temperature.critical {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #cc241d;
  margin: 5px 0px;
  border-bottom: 1px solid #cc241d;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #f6c657;
  margin: 5px 0px;
  border-bottom: 1px solid #f6c657;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #458588;
  margin: 5px 0px;
  border-bottom: 1px solid #458588;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #83a598;
  margin: 5px 0px;
  border-bottom: 1px solid #83a598;
}

#pulseaudio.muted {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #ea6962;
  margin: 5px 0px;
  border-bottom: 1px solid #ea6962;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #689d6a;
  margin: 5px 0px;
  border-bottom: 1px solid #689d6a;
}

#battery.critical {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #cc241d;
  margin: 5px 0px;
  border-bottom: 1px solid #cc241d;
}

#battery.warning {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: @nord11;
  margin: 5px 0px;
  border-bottom: 1px solid @nord11;
}

#battery.chargin.warning {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: #689d6a;
  margin: 5px 0px;
  border-bottom: 1px solid #689d6a;
}
/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 15px;
  font-weight: 400;
  color: @nord4;
  margin: 5px 0px;
  border-bottom: 1px solid @nord4;
}
